<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>重点知识点集合</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>多线程种类</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>NSThread</string>
						<key>fileName</key>
						<string>BPNSThreadViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>NSOperation</string>
						<key>fileName</key>
						<string>BPNSOperationViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>OC的类和对象</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>类和对象</string>
						<key>fileName</key>
						<string>BPClassObjectViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>类方法和对象方法</string>
						<key>fileName</key>
						<string>BPClassObjecMethodtViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>内存管理</string>
				<key>fileName</key>
				<string>BPMemoryViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>GCD,信号量,锁</string>
				<key>fileName</key>
				<string>BPGCDViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>TableView优化点</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>完整的优化</string>
						<key>fileName</key>
						<string>BPOptimizeTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>添加圆角</string>
						<key>fileName</key>
						<string>BPAddRoundedCornerViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Runtime</string>
				<key>fileName</key>
				<string>BPRuntimeViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>图形</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>布局方法</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>Frame布局</string>
								<key>fileName</key>
								<string>BPFrameLayoutViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Autoresizing布局</string>
								<key>fileName</key>
								<string>BPAutoresizingViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>AutoLayout布局：系统、VFL</string>
								<key>fileName</key>
								<string>BPAutoLayoutCodeViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>XIB布局：约束优先级，抗压缩，active</string>
								<key>fileName</key>
								<string>BPAutoLayoutXIBViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Masonry使用技巧</string>
								<key>fileName</key>
								<string>BPMasonrySkillViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>布局过程：View及VC显示过程</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>Frame:布局过程</string>
								<key>fileName</key>
								<string>BPLayoutProcessViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>AutoLayout:Masnory布局过程</string>
								<key>fileName</key>
								<string>BPMasonryAutoLayoutProcessViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>AutoLayout:XIB布局过程，XIB布局下的系统方法执行顺序</string>
								<key>fileName</key>
								<string>BPXIBAutoLayoutProcessViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>绘制过程，自定义画图</string>
						<key>fileName</key>
						<string>BPDrawViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>计算Size方法,固有内容，抗压缩抗拉伸</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>计算size几种方法</string>
								<key>fileName</key>
								<string>BPViewSizeController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>对齐矩形</string>
								<key>fileName</key>
								<string>BPAlignmentRectInsetsController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>固有内容大小</string>
								<key>fileName</key>
								<string></string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>抗压缩抗拉伸</string>
								<key>fileName</key>
								<string></string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>获取正确的frame</string>
						<key>fileName</key>
						<string>BPGetFrameViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Layer分类+属性+View仿射属性</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>贝塞尔曲线</string>
								<key>fileName</key>
								<string>BPBezierPathViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>View属性:mask/transform</string>
								<key>fileName</key>
								<string>BPViewPropertyController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>Layer属性</string>
								<key>fileName</key>
								<string>BPLayerViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>CAShapeLayer</string>
								<key>fileName</key>
								<string>BPShapeLayerViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>CAReplicatorLayer</string>
								<key>fileName</key>
								<string>BPReplicatorLayerViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>CAGradientLayer</string>
								<key>fileName</key>
								<string>BPGradientLayerViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>动画</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>UIView Block动画</string>
								<key>fileName</key>
								<string>BPBlockAnimatonVC</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>核心动画</string>
								<key>fileName</key>
								<string>BPCoreAnimationVC</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>自定义转场动画及手势</string>
								<key>fileName</key>
								<string>BPSimpleTableController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>数据结构</string>
				<key>fileName</key>
				<string>BPDataStructureViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>算法</string>
				<key>fileName</key>
				<string>BPAlgorithmController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>学习第三方库</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>AFN</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>SDWebImage</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YTK</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>MJRefresh</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YYKit</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Runloop</string>
				<key>fileName</key>
				<string>BPRunloopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>其他知识点集合</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>拷贝</string>
				<key>fileName</key>
				<string>BPAboutCopyViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Block</string>
				<key>fileName</key>
				<string>BPBlockViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>数据持久化</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>iOS自有的</string>
						<key>fileName</key>
						<string>BPDataPersistenceVC</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>数据库多表关联</string>
						<key>fileName</key>
						<string>BPDatabaseViewController</string>
						<key>briefIntro</key>
						<string>数据库多表关联</string>
					</dict>
					<dict>
						<key>title</key>
						<string>缓存设计：NSCache</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>KVC</string>
				<key>fileName</key>
				<string>BPKVCViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Static &amp; Const</string>
				<key>fileName</key>
				<string>BPStaticConstViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>一般的网络请求</string>
				<key>fileName</key>
				<string>BPNetRequestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>继承</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>NSObject继承</string>
						<key>fileName</key>
						<string>BPInheritObjectController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>UIView继承</string>
						<key>fileName</key>
						<string>BPInheritViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>基本控件用法</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIScrollView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string>ScrollView</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>UIScrollView：一般使用及拖拽代理</string>
						<key>fileName</key>
						<string>BPScrollViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>分页思路</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>pagingEnabled(跳转到轮播图目录下查看)</string>
								<key>fileName</key>
								<string></string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>TargetContentOffset</string>
								<key>fileName</key>
								<string>BPScrollTargetContentOffsetViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>重用：仿tableView</string>
						<key>fileName</key>
						<string>BPScrollReuseViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>联动/视差滚动</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>基本使用联动</string>
								<key>fileName</key>
								<string>BPScrollLinkageParallaxViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>scroll子类嵌套联动使用（跳转到TableView目录下查看）</string>
								<key>fileName</key>
								<string></string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>按需加载/图片加载逻辑/优化tableview</string>
						<key>fileName</key>
						<string>BPScrollLazyLoadViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>UITableView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>TableViewPlain</string>
						<key>fileName</key>
						<string>BPPlainTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>TableViewGroup</string>
						<key>fileName</key>
						<string>BPGroupTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Cell自适应高度（一般用法）</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>iOS8cell自动计算</string>
								<key>fileName</key>
								<string>BP1STCellAutoLayoutHeightViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>iOS6cell自动计算</string>
								<key>fileName</key>
								<string>BP2NDCellAutoLayoutHeightViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
							<dict>
								<key>title</key>
								<string>手动计算</string>
								<key>fileName</key>
								<string>BP3RDCellAutoLayoutHeightViewController</string>
								<key>briefIntro</key>
								<string></string>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>Cell自适应高度：多级目录、嵌套scroll及子类、折叠</string>
						<key>fileName</key>
						<string>BPSimpleTableController</string>
						<key>briefIntro</key>
						<string></string>
						<key>subVc_array</key>
						<array>
							<dict>
								<key>title</key>
								<string>嵌套TableView：支持折叠及限定行数</string>
								<key>fileName</key>
								<string>BPSimpleTableController</string>
								<key>briefIntro</key>
								<string></string>
								<key>subVc_array</key>
								<array>
									<dict>
										<key>title</key>
										<string>iOS6用法：SystemLayout</string>
										<key>fileName</key>
										<string>BPIncludeTableSystemLayoutController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>iOS8用法：self-size</string>
										<key>fileName</key>
										<string>BPIncludeTableSelfSizeController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>手动计算</string>
										<key>fileName</key>
										<string>BPIncludeTableManualController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>title</key>
								<string>嵌套TextView：支持输入</string>
								<key>fileName</key>
								<string>BPSimpleTableController</string>
								<key>briefIntro</key>
								<string></string>
								<key>subVc_array</key>
								<array>
									<dict>
										<key>title</key>
										<string>iOS6用法：SystemLayout</string>
										<key>fileName</key>
										<string>BPIncludeTableSystemLayoutController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>iOS8用法：self-size</string>
										<key>fileName</key>
										<string>BPIncludeTableSelfSizeController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>手动计算</string>
										<key>fileName</key>
										<string>BP2NDCellAutoLayoutHeightViewController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>title</key>
								<string>嵌套TableView：支持下载图片自适应大小</string>
								<key>fileName</key>
								<string>BPSimpleTableController</string>
								<key>briefIntro</key>
								<string></string>
								<key>subVc_array</key>
								<array>
									<dict>
										<key>title</key>
										<string>iOS6用法：SystemLayout</string>
										<key>fileName</key>
										<string>BPIncludeTableSystemLayoutController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>iOS8用法：self-size</string>
										<key>fileName</key>
										<string>BPIncludeTableSelfSizeController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>手动计算</string>
										<key>fileName</key>
										<string>BP2NDCellAutoLayoutHeightViewController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
								</array>
							</dict>
							<dict>
								<key>title</key>
								<string>嵌套WebView</string>
								<key>fileName</key>
								<string>BPSimpleTableController</string>
								<key>briefIntro</key>
								<string></string>
								<key>subVc_array</key>
								<array>
									<dict>
										<key>title</key>
										<string>iOS6用法：SystemLayout</string>
										<key>fileName</key>
										<string>BPIncludeTableSystemLayoutController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>iOS8用法：self-size</string>
										<key>fileName</key>
										<string>BPIncludeTableSelfSizeController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
									<dict>
										<key>title</key>
										<string>手动计算</string>
										<key>fileName</key>
										<string>BP2NDCellAutoLayoutHeightViewController</string>
										<key>briefIntro</key>
										<string></string>
									</dict>
								</array>
							</dict>
						</array>
					</dict>
					<dict>
						<key>title</key>
						<string>scroll实现tableView</string>
						<key>fileName</key>
						<string>BPCustomTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>TableView优化点（去重点知识目录查找）</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Cell下载进度及秒杀倒计时</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>tableView 多个scroll子类多手势联动</string>
						<key>fileName</key>
						<string>BPTableViewNestGestureViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>collectionView 多个scroll子类多手势联动</string>
						<key>fileName</key>
						<string>BPCollectionViewNestGestureViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>UICollectionView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>CollectionView</string>
						<key>fileName</key>
						<string>BPCollectionViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>CustomLayoutCollectionView</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Tag</string>
						<key>fileName</key>
						<string>BPTagCollectionViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>collectionView 多个scroll子类多手势联动</string>
						<key>fileName</key>
						<string>BPCollectionViewNestGestureViewController.m</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>UILabel</string>
				<key>fileName</key>
				<string>BPLabelViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIButton</string>
				<key>fileName</key>
				<string>BPButtonViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIImage</string>
				<key>fileName</key>
				<string>BPImageController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIImageView</string>
				<key>fileName</key>
				<string>BPImageViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITextField</string>
				<key>fileName</key>
				<string>BPTextFieldViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UITextView</string>
				<key>fileName</key>
				<string>BPTextViewViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIView</string>
				<key>fileName</key>
				<string>BPViewViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIViewController</string>
				<key>fileName</key>
				<string>BPViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIProgressView</string>
				<key>fileName</key>
				<string>BPProgressViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UISlider</string>
				<key>fileName</key>
				<string>BPSliderViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIWebView</string>
				<key>fileName</key>
				<string>BPWebViewController：桥接，js与native交互等</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIToolBar</string>
				<key>fileName</key>
				<string>BPToolBarViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIWKWebView</string>
				<key>fileName</key>
				<string>BPWKWebViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIPageControl</string>
				<key>fileName</key>
				<string>BPPageControlController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UISegmentedControl</string>
				<key>fileName</key>
				<string>BPSegmentedControlController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIPickView</string>
				<key>fileName</key>
				<string>BPPickViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIWindow</string>
				<key>fileName</key>
				<string>BPWindowController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UISearchBar</string>
				<key>fileName</key>
				<string>BPSearchBarViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIDatePicker</string>
				<key>fileName</key>
				<string>BPDatePickerController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UINavigationController</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string>导航栏基本属性及动画</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>NaviBar基本属性</string>
						<key>fileName</key>
						<string>BPNaviProperyViewController</string>
						<key>briefIntro</key>
						<string>导航栏基本属性及动画</string>
					</dict>
					<dict>
						<key>title</key>
						<string>自定义Bar</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>tableView与navi动画-1</string>
						<key>fileName</key>
						<string>BPNaviTableViewControllerOne</string>
						<key>briefIntro</key>
						<string>计算cell高度</string>
					</dict>
					<dict>
						<key>title</key>
						<string>tableView与navi动画-2</string>
						<key>fileName</key>
						<string>BPNaviTableViewControllerTwo</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>tableView与navi动画-3</string>
						<key>fileName</key>
						<string>BPNaviTableViewControllerThree</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>UITabBarController</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string>协议方法/自定义Tabbar</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>自定义Tabbar</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>代理使用及配置主题颜色</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>UIAppearance</string>
				<key>fileName</key>
				<string>BPAppearanceViewController</string>
				<key>briefIntro</key>
				<string>协议方法/自定义Tabbar</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Foundation下的数据处理及常用算法</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>NSString</string>
				<key>fileName</key>
				<string> </string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSArray</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSDictionary</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSNumber</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSSet</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSValue</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSDate</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSEnum</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>NSData</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>设计模式</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>KVC</string>
				<key>fileName</key>
				<string> </string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>KVO及封装</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Notification</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Delegate</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Block</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>研究方向</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>音视频：AVFoundation</string>
				<key>fileName</key>
				<string> </string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>网络协议：AFN，socket，im</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>图像：GPUImage，CoreImage</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>优化：列表优化和启动优化</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>安全性：捕捉bug上传机制，和解析bug，再深一点就是热更新</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>地图：CoreLocation，MapKit</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>文字排版渲染</string>
				<key>fileName</key>
				<string>BPTextCompositionViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>swift学习</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string>学习swift</string>
	</dict>
	<dict>
		<key>title</key>
		<string>三大事件</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>触摸事件</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>Touch触摸</string>
						<key>fileName</key>
						<string>BPTouchViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Hit-Test</string>
						<key>fileName</key>
						<string>BPHitTestViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>手势</string>
						<key>fileName</key>
						<string>BPGestureRecognizerViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>远程事件</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>加速计事件</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Kit.framework</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>PhotoKit</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>MapKit</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>ARKit</string>
				<key>fileName</key>
				<string> </string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>SpriteKit</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>文章</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>代码规范</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>分享38条iOS书写代码规范和小建议</string>
						<key>fileName</key>
						<string>BPCodeStandardsViewController</string>
						<key>url</key>
						<string>https://mp.weixin.qq.com/s?__biz=MzIzNzIwODY2OQ==&amp;mid=2649822506&amp;idx=1&amp;sn=149e1f21b2d4809e3ddf94e505f05477&amp;chksm=f0c9a018c7be290e3f12aedc849e2d0d30baa0dd792a3f324d8cf798c690c3fdd6d4170965f5&amp;scene=21#wechat_redirect</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>博客</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>唐巧</string>
						<key>fileName</key>
						<string>BPCodeStandardsViewController</string>
						<key>url</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
