<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>微信</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>cell行高（朋友圈）</string>
				<key>fileName</key>
				<string>BPWeChatRootViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>聊天记录操作（tableView的运用）</string>
				<key>fileName</key>
				<string>BPWeChatRootViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>图片浏览器（collectionView的运用）</string>
				<key>fileName</key>
				<string>BPWeChatRootViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>日历Calendar</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>计划日历</string>
				<key>fileName</key>
				<string>BPPlanCalendarViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>正常日历</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>PopView</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>了解锚点动画/箭头PopView(图片/自定义画图)</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>由底部到上的PopView</string>
				<key>fileName</key>
				<string>BPPopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义绘制箭头PopView</string>
				<key>fileName</key>
				<string>BPArrowPopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>锚点</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>dynamicJumpString</key>
				<string>{&quot;&quot;:&quot;&quot;}</string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>测试锚点</string>
						<key>fileName</key>
						<string>BPAnchorPopViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;0&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>无列表锚点PopView</string>
						<key>fileName</key>
						<string>BPAnchorPopViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;1&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>列表锚点PopView</string>
						<key>fileName</key>
						<string>BPAnchorPopViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;2&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>动态设置锚点</string>
						<key>fileName</key>
						<string>BPAnchorPopViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;3&quot;}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>系统控制器来popView</string>
				<key>fileName</key>
				<string>BPPopoverPresentationController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>顶部滑动分类工具</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>collectionView相关应用</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>基于AddChiledController&amp;过渡动画</string>
				<key>fileName</key>
				<string>BP_Four_TopSliderCategoryViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>基于CollectionView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>颜色左右渐变 + 底部线条</string>
						<key>fileName</key>
						<string>BPFlowCategoryViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;0&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>颜色变化 + 背后椭圆 + 设置默认index</string>
						<key>fileName</key>
						<string>BPFlowCategoryViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;1&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>颜色变化 + 文字缩放 + 模拟网络刷新</string>
						<key>fileName</key>
						<string>BPFlowCategoryViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;2&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>下划线</string>
						<key>fileName</key>
						<string>BPFlowCategoryViewController</string>
						<key>briefIntro</key>
						<string></string>
						<key>dynamicJumpString</key>
						<string>{&quot;type&quot;:&quot;3&quot;}</string>
					</dict>
					<dict>
						<key>title</key>
						<string>当数据各位为2的时候特殊处理</string>
						<key>fileName</key>
						<string>BPSpecificFlowCategoryViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>音频播放器</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>边播边下载</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图片放大器</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
	</dict>
	<dict>
		<key>title</key>
		<string>常用业务场景下的动画集合</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>系统卡片动画</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>水波纹</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>数字增长</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>淘宝购物车折叠动画</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Loading</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>音量波浪</string>
				<key>fileName</key>
				<string>BPVolumeWaverViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>window提示框</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>在window上的提示框</string>
	</dict>
	<dict>
		<key>title</key>
		<string>二级菜单</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>菜单联动</string>
	</dict>
	<dict>
		<key>title</key>
		<string>高斯模糊</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>卡片上(下)拉，背景图高斯模糊效果</string>
	</dict>
	<dict>
		<key>title</key>
		<string>抽屉View</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>CoreText-文章详情</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>书籍阅读页面-文字布局</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>轮播图</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>普通轮播图</string>
				<key>fileName</key>
				<string>BPSlideShowViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>卡片滑动</string>
				<key>fileName</key>
				<string>BPCardPageViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>卡片轮播图滑动，带缩放动画</string>
				<key>fileName</key>
				<string>BPCardPageFlowViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>基于collectionView卡片滑动</string>
				<key>fileName</key>
				<string>BPCardPageCollectionViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>标签</string>
		<key>fileName</key>
		<string>BPTagViewController</string>
		<key>briefIntro</key>
		<string>标签</string>
	</dict>
	<dict>
		<key>title</key>
		<string>动态输入添加标签</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>单行标签/多行标签/位置不固定圆形标签</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>单行标签</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>多行标签</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>位置不固定圆形标签</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>二维码扫描工具</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>二维码扫描工具</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图表</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>折线图/曲线图/柱状图</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>折线图</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>曲线图</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>柱状图</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>弹幕</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>画板</string>
		<key>fileName</key>
		<string>BPDrawingBoardViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>下载模块</string>
		<key>fileName</key>
		<string>BPDownLoadMainPageViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>本地通知推送</string>
		<key>fileName</key>
		<string>BPLocalNotificationViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
</array>
</plist>
