<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>测试</string>
		<key>fileName</key>
		<string>BPListViewController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>通用测试容器</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>监听截图获取照片</string>
		<key>fileName</key>
		<string>BPWeiXinPhotoViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Palette:取一张图片的色值</string>
		<key>fileName</key>
		<string>BPPaletteViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>其他项目测试用</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>TableView相关测试</string>
		<key>fileName</key>
		<string>BPListViewController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>关于bounces和contentInset的矛盾</string>
				<key>fileName</key>
				<string>BPContentInsetTableViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>TextViewHeight</string>
				<key>fileName</key>
				<string>BPTextViewHeightViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>collectionview测试相关</string>
		<key>fileName</key>
		<string>BPListViewController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>CollectionView 分页动画思路</string>
				<key>fileName</key>
				<string>BPCollectionPageViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>collectionview 顶部分类工具</string>
				<key>fileName</key>
				<string>BPTopCategoryCollectionViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>动态跳转</string>
		<key>fileName</key>
		<string>BPDynamicJumpViewController</string>
		<key>briefIntro</key>
		<string></string>
		<key>dynamicJumpString</key>
		<string>{&quot;i am key&quot;:&quot;i am value&quot;}</string>
	</dict>
	<dict>
		<key>title</key>
		<string>测试masksToBounds</string>
		<key>fileName</key>
		<string>BPMasksToBoundsViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>旋转屏幕</string>
		<key>fileName</key>
		<string>BPRotatingScreenViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>设置statusBar</string>
		<key>fileName</key>
		<string>BPStatusBarViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>常用函数</string>
		<key>fileName</key>
		<string>BPMathFunctionViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>调试技巧</string>
		<key>fileName</key>
		<string>BPDebugViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>可视化Nib</string>
		<key>fileName</key>
		<string>BPNibViewController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>Demo</string>
		<key>fileName</key>
		<string>BPListViewController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>组装数据进行嵌套</string>
				<key>fileName</key>
				<string>BPBDNestListViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
