<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ScrollView</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>ScrollView</string>
				<key>fileName</key>
				<string></string>
				<key>briefIntro</key>
				<string>ScrollView</string>
			</dict>
			<dict>
				<key>title</key>
				<string>TableView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>TableViewPlain</string>
						<key>fileName</key>
						<string>BPPlainTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>TableViewGroup</string>
						<key>fileName</key>
						<string>BPGroupTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>Cell自适应高度</string>
						<key>fileName</key>
						<string>BPAdaptiveHeightTableViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>多级目录</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>CollectionView</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>CollectionView</string>
						<key>fileName</key>
						<string>BPCollectionViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>CustomLayoutCollectionView</string>
						<key>fileName</key>
						<string></string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Bar</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>NaviBar基本属性</string>
				<key>fileName</key>
				<string>BPNaviProperyViewController</string>
				<key>briefIntro</key>
				<string>导航栏基本属性及动画/自定义Tabbar</string>
			</dict>
			<dict>
				<key>title</key>
				<string>tableView与navi动画-1</string>
				<key>fileName</key>
				<string>BPNaviTableViewControllerOne</string>
				<key>briefIntro</key>
				<string>计算cell高度</string>
			</dict>
			<dict>
				<key>title</key>
				<string>tableView与navi动画-2</string>
				<key>fileName</key>
				<string>BPNaviTableViewControllerTwo</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>tableView与navi动画-3</string>
				<key>fileName</key>
				<string>BPNaviTableViewControllerThree</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>日历Calendar</string>
		<key>fileName</key>
		<string>BPCalendarController</string>
		<key>briefIntro</key>
		<string>日历Calendar</string>
	</dict>
	<dict>
		<key>title</key>
		<string>朋友圈</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>计算cell高度</string>
	</dict>
	<dict>
		<key>title</key>
		<string>popview</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>了解锚点动画/箭头PopView(图片/自定义画图)</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>锚点</string>
				<key>fileName</key>
				<string>BPPopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>箭头PopView-图片</string>
				<key>fileName</key>
				<string>BPNaviProperyViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>箭头PopView-自定义画图</string>
				<key>fileName</key>
				<string>BPNaviTableViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>顶部滑动分类工具</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>collectionView相关应用</string>
	</dict>
	<dict>
		<key>title</key>
		<string>音频播放器</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>边播边下载</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图片浏览器</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图片放大器</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
	</dict>
	<dict>
		<key>title</key>
		<string>window提示框</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>在window上的提示框</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自定义转场动画及手势</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>XIB</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>纯代码</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>二级菜单</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>菜单联动</string>
	</dict>
	<dict>
		<key>title</key>
		<string>高斯模糊</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>卡片上(下)拉，背景图高斯模糊效果</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>XIB</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>纯代码</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>抽屉View</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>书籍阅读页面-文字布局</string>
		<key>fileName</key>
		<string></string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>XIB</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>纯代码</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>轮播图</string>
		<key>New item</key>
		<string>轮播图</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>动态添加标签</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>单行标签/多行标签/位置不固定圆形标签</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>单行标签</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>多行标签</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>位置不固定圆形标签</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>二维码扫描工具</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>二维码扫描工具</string>
	</dict>
	<dict>
		<key>title</key>
		<string>数据库多表关联</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>数据库多表关联</string>
	</dict>
	<dict>
		<key>title</key>
		<string>图表</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>折线图/曲线图/柱状图</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>折线图</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>曲线图</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>柱状图</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>web桥接</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>js与native交互</string>
	</dict>
	<dict>
		<key>title</key>
		<string>swift简单语法</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>学习下swift</string>
	</dict>
	<dict>
		<key>title</key>
		<string>一般动画(验证modelLayer)</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>淘宝购物车折叠动画/水波动画/系统卡片动画/数字增长动画</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>淘宝购物车折叠动画</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>水波动画</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>系统卡片动画</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>数字增长动画</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>KVO封装</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>XIB</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>纯代码</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>基本控件用法</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>UIButton</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UILabel</string>
				<key>fileName</key>
				<string>BPTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>UIImageView</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>缓存设计</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>测试</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>xib</string>
				<key>fileName</key>
				<string>BPTest_XibViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>通用测试容器</string>
				<key>fileName</key>
				<string>BPGeneralTestViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Palette</string>
				<key>fileName</key>
				<string>BPPaletteViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>知识点集合</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>内存管理</string>
				<key>fileName</key>
				<string>BPMemoryViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>GCD,信号量,锁</string>
				<key>fileName</key>
				<string>BPGCDViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>TableView优化点</string>
				<key>fileName</key>
				<string>BPOptimizeTableViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Runtime</string>
				<key>fileName</key>
				<string>BPRuntimeViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义画图</string>
				<key>fileName</key>
				<string>BPDrawViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>数据结构</string>
				<key>fileName</key>
				<string>BPDataStructureViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>算法</string>
				<key>fileName</key>
				<string>BPAlgorithmController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>学习第三方库</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>AFN</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>SDWebImage</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YTK</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>MJRefresh</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YYKit</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Runloop</string>
				<key>fileName</key>
				<string>BPRunloopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>其他知识点集合</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string></string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>内存管理</string>
				<key>fileName</key>
				<string>BPMemoryViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>GCD,信号量,锁</string>
				<key>fileName</key>
				<string>BPGCDViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>TableView优化点</string>
				<key>fileName</key>
				<string>BPOptimizeTableViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>Runtime</string>
				<key>fileName</key>
				<string>BPRuntimeViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>自定义画图</string>
				<key>fileName</key>
				<string>BPDrawViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>数据结构</string>
				<key>fileName</key>
				<string>BPDataStructureViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>算法</string>
				<key>fileName</key>
				<string>BPAlgorithmController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
			<dict>
				<key>title</key>
				<string>学习第三方库</string>
				<key>fileName</key>
				<string>BPSimpleTableController</string>
				<key>briefIntro</key>
				<string></string>
				<key>subVc_array</key>
				<array>
					<dict>
						<key>title</key>
						<string>AFN</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>SDWebImage</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YTK</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>MJRefresh</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
					<dict>
						<key>title</key>
						<string>YYKit</string>
						<key>fileName</key>
						<string>BPTest_XibViewController</string>
						<key>briefIntro</key>
						<string></string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Runloop</string>
				<key>fileName</key>
				<string>BPRunloopViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
