<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>ScrollView</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>TableViewPlain</string>
				<key>fileName</key>
				<string>BPPlainTableViewController</string>
				<key>briefIntro</key>
				<string>导航栏基本属性及动画/自定义Tabbar</string>
			</dict>
			<dict>
				<key>title</key>
				<string>TableViewGroup</string>
				<key>fileName</key>
				<string>BPGroupTableViewController</string>
				<key>briefIntro</key>
				<string>计算cell高度</string>
			</dict>
			<dict>
				<key>title</key>
				<string>CollectionView</string>
				<key>fileName</key>
				<string>BPCollectionViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Bar</string>
		<key>fileName</key>
		<string>BPSimpleTableController</string>
		<key>briefIntro</key>
		<string>导航栏基本属性及动画/自定义Tabbar</string>
		<key>subVc_array</key>
		<array>
			<dict>
				<key>title</key>
				<string>NaviBar基本属性</string>
				<key>fileName</key>
				<string>BPNaviProperyViewController</string>
				<key>briefIntro</key>
				<string>导航栏基本属性及动画/自定义Tabbar</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NaviBar与TableView</string>
				<key>fileName</key>
				<string>BPNaviTableViewController</string>
				<key>briefIntro</key>
				<string>计算cell高度</string>
			</dict>
			<dict>
				<key>title</key>
				<string>NaviBar与CollectionView</string>
				<key>fileName</key>
				<string>BPNaviCollectionViewController</string>
				<key>briefIntro</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
